<div id="welcome" class="mt-3 mb-3">
  <div class="container">
    <h1><a href="/posts">Posts</a></h1>
    <table class="table">
      <thead>
      <tr>
        <th>Title</th>
        <th>Source/Author</th>
        <th>Published</th>
        <th>Social</th>
        <th>Length</th>
        <th>Keywords</th>
      </tr>
      </thead>
      <tbody>
      <% for (let i=0; i<data.length; i++) {%>
        <tr>
          <td>
            <a href="/posts/<%= data[i]._id %>"><%= data[i].title %></a>
            <a class="badge badge-primary" href="<%= data[i].url %>" target="_blank"
              ><i class="fa fa-external-link"></i></a>
          </td>
          <td>
            <% if (data[i].source && data[i].source.title) { %>
              <a href="/sources/<%= data[i].source._id %>"><%= data[i].source.title %></a>
              <a class="badge badge-primary" href="<%= data[i].source.url %>" target="_blank"
                ><i class="fa fa-external-link"></i></a>
              <br/>
            <% } %>
            <%= data[i].author %>
          </td>
          <td><%= data[i].publishedAt %></td>
          <td>
            <% if (data[i].social && data[i].social.total) { %>
              <%= data[i].social.total %>
            <% } %>
          </td>
          <td>
            <% if (data[i].wordCount) { %>
              <%= data[i].wordCount %> words
            <% } %>
          </td>
          <td>
            <% if (data[i].keywords && data[i].keywords.length) { %>
              <%= data[i].keywords.length %>
            <% } %>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <%- include('../../partials/pagination', pagination); %>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
