<div id="welcome" class="mt-3 mb-3">
  <div class="container">
    <h1><a href="/posts">Posts</a></h1>

    <p>
      <a class="text-secondary"
         data-toggle="collapse"
         data-target="#collapseFilters"
         aria-expanded="false"
         aria-controls="collapseFilters"
         href="#">
        Search & Filters
      </a>
    </p>
    <div class="collapse" id="collapseFilters">
      <%- include('../../partials/post-filters-form', query); %>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th>Title</th>
        <th>Source/Author</th>
        <th>Published</th>
        <th style="width: 180px;">Social</th>
        <th>Length</th>
      </tr>
      </thead>
      <tbody>
      <% for (let i = 0; i < data.length; i++) { %>
        <tr>
          <td>
            <a href="/posts/<%= data[i].id %>"><%= data[i].title %></a>
            <a class="badge badge-primary" href="<%= data[i].url %>" target="_blank"
            ><i class="fa fa-external-link"></i></a>
          </td>
          <td>
            <% if (data[i].source && data[i].source.title) { %>
              <a href="/sources/<%= data[i].source.id %>"><%= data[i].source.title %></a>
              <a class="badge badge-primary" href="<%= data[i].source.url %>" target="_blank"
              ><i class="fa fa-external-link"></i></a>
              <br/>
            <% } %>
            <a href="/posts?author=<%= data[i].author %>">
              <%= data[i].author %>
            </a>
          </td>
          <td><%= sails.config.globals.moment(data[i].publishedAt).format('l LT') %></td>
          <td>
            <%- include('../../partials/table-social-summary', {data: data[i]}); %>
          </td>
          <td>
            <% if (data[i].wordCount) { %>
              <%= data[i].wordCount %> words
            <% } %>
          </td>
        </tr>
      <% } %>
      </tbody>
    </table>
    <% if (!data || data.length === 0) { %>
      <div class="mt-5 mb-5 text-center">
        <h3>No Results</h3>
        <p>Looks like no posts match your current query. Please try again.</p>
      </div>
    <% } else { %>
      <%- include('../../partials/pagination', pagination); %>
    <% } %>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
