<div id="posts">
  <div class="container">
    <div class="row">
      <div class="col mb-3">
        <h1><a href="/posts">Posts</a></h1>
        <hr/>
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort By
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/posts">Latest</a>
            <a class="dropdown-item" href="/posts?order_by=popular">Popular</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <% for (let i=0; i<posts.length; i++) {%>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">
                <a href="<%= posts[i].url %>" target="_blank">
                <%= posts[i].title %>
                </a>
              </h5>
              <p class="card-text">
                <% if (posts[i].imageUrl !== undefined) { %>
                  <a href="<%= posts[i].url %>" target="_blank">
                    <img class="float-left mr-3" style="max-width: 200px; height: auto;" src="<%= posts[i].imageUrl %>">
                  </a>
                <% } %>
                <%= posts[i].summary %>
              </p>
            </div>
            <div class="card-footer text-center">
              <div class="row">
                <div class="col-sm-4 text-md-left">
                  <%= moment(posts[i].publishedAt).format('LLL') %>
                </div>
                <div class="col-sm-4">
                  <% if (posts[i].source) { %>
                    <a href="<%= posts[i].source.siteUrl %>" target="_blank">
                      <% if (posts[i].source.logo && posts[i].source.logo.url) { %>
                        <img class="float-left mr-1" style="max-width: 24px; height: auto;" src="<%= posts[i].source.logo.url %>">
                      <% } %>
                      <%= posts[i].source.title %>
                    </a>
                  <% } %>
                </div>
                <div class="col-sm-4 text-md-right">
                  <button type="button" class="btn btn-sm btn-primary">
                    Facebook <span class="badge badge-light">
                      <% if (posts[i].social && posts[i].social['24']) { %>
                        <%= posts[i].social['24'].facebook.total_count %>
                      <% } else { %>0<% } %>
                    </span>
                  </button>
                  <button type="button" class="btn btn-sm btn-danger">
                    Pinterest <span class="badge badge-light">
                      <% if (posts[i].social && posts[i].social['24']) { %>
                        <%= posts[i].social['24'].pinterest %>
                      <% } else { %>0<% } %>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <% if (pageLinks.previous !== undefined) { %>
            <li class="page-item"><a class="page-link" href="<%= pageLinks.previous %>">Prev</a></li>
            <% } %>
            <li class="page-item"><a class="page-link" href="<%= pageLinks.next %>">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>

  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
