<div id="welcome" class="mt-3 mb-3">
  <div class="container">
    <h1>Dashboard</h1>
    <hr/>
    <div class="row mb-3">
      <div class="col">
        <%- include('../../partials/days-back-selection', { query }); %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <div class="card">
          <div class="card-header text-center">
            <a href="/posts"><i class="fa fa-newspaper-o"></i> Posts</a>
          </div>
          <div class="card-body">
            <table class="table">
              <tbody>
              <tr>
                <th scope="row">Total</th>
                <td><%= data.posts.total %></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Unfluffed</th>
                <td><%= data.posts.unfluffed %></td>
                <td><%= Number.parseFloat(
                          (data.posts.unfluffed / data.posts.total) * 100
                  ).toFixed(2) %>%
                </td>
              </tr>
              <tr>
                <th scope="row">Keywords</th>
                <td><%= data.posts.keywordsAdded %></td>
                <td><%= Number.parseFloat(
                          (data.posts.keywordsAdded / data.posts.total) * 100
                  ).toFixed(2) %>%
                </td>
              </tr>
              <tr>
                <th scope="row">Social</th>
                <td><%= data.posts.socialAdded %></td>
                <td><%= Number.parseFloat(
                          (data.posts.socialAdded / data.posts.total) * 100
                  ).toFixed(2) %>%
                </td>
              </tr>
              <tr>
                <th scope="row">Average Length</th>
                <td><%= data.posts.averageWordLength.toFixed(0) %> words</td>
                <td></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <%- include('../../partials/number-card', {
        header: '<a href="/sources"><i class="fa fa-building"></i> Sources</a>',
        value: '100/180'
        }); %>
      </div>
      <div class="col">
        <%- include('../../partials/number-card', {
        header: '<i class="fa fa-thumbs-up"></i> Shares',
        value: 'T: 100 | Tw: 90 | FB: 80 | P: 10 | R: 10'
        }); %>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
